<div class="large-10 columns">
	<a href="#" class="button"><i class="fi-clock large"></i> 
		<p>Pomodoro</p>
	</a>

	<a href="#" class="button"><i class="fi-map large"></i> 
		<p>Mapas mentales</p>
	</a>

	<a href="#" class="button"><i class="fi-torsos-all large"></i> 
		<p>Foros</p>
	</a>

	<a href="#" class="button"><i class="fi-results large"></i> 
		<p>Tests</p>
	</a>

	<a href="#" class="button"><i class="fi-calendar large"></i> 
		<p>Calendario</p>
	</a>
</div>