<div class="large-10 columns">

	<h2>Perfil de usuario</h2>

	<div class="large-offset-4">
	  <%= image_tag(current_user.avatar.url || 'paco_fiestas.png', size: "200", class: "large-4", id: "userAvatar") %>
	  <div class="row">
	  	<div id="inputButton" class="large-4 button">Subir imagen...</div>
	  </div>
	</div>
	  <ul>
	     <li><b>E-mail:</b> <%= current_user.email %></li> 
	  </ul>
	<div class="large-offset-4">
		<div id="submit-btn" class="large-2 button">Guardar</div>
		<div class="large-2 button">Cancelar</div>
	</div>
</div>
<%= form_for @user, :id => "form-id", :url => myProfile_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar, :id => "fileInput", :style => "display: none;" %>
<% end %>
