<div class="large-10 columns">

<h2>Perfil de usuario</h2>

  <h3><%= current_user.name %></h3>
  
  <%= image_tag('paco_fiestas.png', size: "200") %>
  <ul>
     <li><b>E-mail:</b> <%= current_user.email %></li> 
  </ul>

 </div>