<div class="off-canvas-wrap" data-offcanvas>
  
  <!-- If the contents of the .inner-wrap isn't the main content of the page, use another approripate sectioning element instead -->
  <main class="inner-wrap">
  	
  	<nav class="tab-bar">
	  <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon fi-plus" href="#"><span class="fi-plus"></span></a>
      </section>
	  <div class="middle tab-bar-section">AMT</div>
	  <div class="right-small"></div>
	</nav>

  	<nav class="left-off-canvas-menu" >
	  	<ul>
	  		<li><a href="#">Item 1</a></li>
		</ul>
	</nav>
  <nav class="right-off-canvas-menu">Hey yo</nav>

  <p>Hello World!</p>
  </main>
</div>

