<nav data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="build"><a href="#build">Build with HTML</a></dd>
    <dd data-magellan-arrival="js"><a href="#js">Arrival 2</a></dd>
  </dl>
</nav>

<h1>AMT</h1>
<%= link_to("Cursos", courses_path) %>


<a name="build"></a>
<h3 data-magellan-destination="build">Arrival</h3>
<p>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam sapiente rem facere eum consectetur. Laudantium deleniti soluta animi in quos? Harum voluptatum ipsa quam, fugit corporis odit impedit cupiditate aperiam.</span>
	<span>Labore quis ducimus consequuntur magnam non eum aperiam laboriosam reprehenderit ut animi praesentium voluptatibus, consequatur minus libero esse quod quisquam accusamus rem nulla ad hic incidunt. Adipisci modi maxime repellat.</span>
	<span>Consequatur odio, cupiditate nesciunt! Magnam ad sapiente reiciendis, dicta voluptatibus aliquid cum doloremque quos quasi. Hic veniam, totam mollitia, expedita veritatis ex, dignissimos eos iure neque ullam saepe deleniti reprehenderit.</span>
	<span>Necessitatibus quod praesentium minus voluptates, quo, cum et fugiat ea distinctio maxime at amet. Molestias minima magnam ullam voluptas asperiores ratione nesciunt distinctio laboriosam, deleniti. Harum ea esse dignissimos obcaecati!</span>
	<span>Quis deserunt nam earum cupiditate ex aspernatur nemo beatae hic fugit! Sunt maxime officia sint odit praesentium at laboriosam obcaecati debitis quisquam aliquid vitae fugit, illo dolorum, vero, quibusdam recusandae?</span>
</p>
<p>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptates distinctio nulla, ullam consectetur laboriosam harum, iusto non exercitationem laudantium eum corporis et molestias ad quis! Vero odit, repellendus perferendis.</span>
	<span>Voluptates, similique temporibus non. Quidem tempora perferendis, tempore aliquid placeat inventore aut tenetur ratione reiciendis molestiae quibusdam quis similique fugit ipsa, suscipit consequatur quod culpa laborum dolores eum, dicta nostrum!</span>
	<span>Amet, delectus dolor inventore debitis quisquam unde asperiores, quasi eveniet, quae quod odio, quis itaque eligendi maxime saepe beatae laboriosam autem aliquam! Labore cupiditate provident velit ut impedit obcaecati doloremque?</span>
	<span>Nobis maxime similique recusandae molestias sapiente deleniti repellendus ut pariatur minus corporis, repellat, fuga voluptatibus, eaque officia provident quas voluptatem magnam distinctio hic dolor quisquam? Facere aliquam esse eaque cumque.</span>
	<span>Dolorum cumque iure nulla aperiam non deleniti, illo doloremque, amet veniam dolor omnis eligendi distinctio id, dolorem eaque qui sint ut unde numquam! Repellendus deleniti doloribus esse minima consequuntur quisquam?</span>
</p>
<p>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro itaque doloremque corporis minus quis, perspiciatis natus vitae alias quaerat iusto explicabo ratione error laudantium. Qui quia consequuntur voluptates nam blanditiis.</span>
	<span>Recusandae error, iste ipsa quas veniam corporis, quidem sit aut odit eos ex aliquam quaerat autem modi quibusdam repudiandae, totam sequi! At laboriosam deleniti illum eius quos tempora quisquam facilis?</span>
	<span>Nesciunt ullam tempore sit ipsum officiis. Repudiandae in reprehenderit iste veniam sequi, vel numquam voluptatibus voluptate quo, beatae voluptas expedita sed architecto aperiam iure neque magni quos, harum facere amet.</span>
	<span>Ut esse adipisci ipsa impedit quos, explicabo natus praesentium quas molestiae officia unde accusamus quaerat reiciendis soluta delectus magnam quis, repellendus incidunt illo dignissimos? Unde asperiores enim laborum, nulla illo.</span>
	<span>Dolor, at repudiandae itaque, tenetur deserunt quod facilis temporibus deleniti ducimus sint saepe, minus optio dolores soluta cumque molestiae fugit totam! Aperiam blanditiis enim, placeat ullam quia est aliquam nobis!</span>
</p>
<p>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis reprehenderit quibusdam molestias itaque sequi aperiam consectetur doloribus, ut necessitatibus delectus repudiandae alias, sit laudantium, culpa aut atque, fuga quam dolorem!</span>
	<span>Quae accusantium quis harum earum maxime, consequatur nobis illo voluptate sint ipsa deserunt quasi magni ullam repellat illum id aut ipsam repellendus reiciendis iste aperiam ipsum suscipit delectus, voluptatum. Numquam!</span>
	<span>Perspiciatis deleniti veniam blanditiis delectus optio cupiditate placeat suscipit sapiente exercitationem dicta inventore quasi facere necessitatibus culpa tenetur in accusantium tempora recusandae odit praesentium harum qui nemo, obcaecati molestiae. Provident!</span>
	<span>Mollitia, ad fugit corrupti. Odio harum atque, sunt rem aperiam necessitatibus, possimus iste quidem maxime voluptatum consectetur! Deserunt dolore maiores, natus alias asperiores quis reiciendis corporis fugit ratione dolorem doloribus.</span>
	<span>Ut at ea laudantium natus impedit consectetur soluta ipsam. Ex, doloribus architecto aspernatur perspiciatis vitae explicabo sapiente expedita, adipisci voluptatibus blanditiis ipsa dignissimos deleniti ab suscipit, voluptate accusantium nesciunt nulla.</span>
</p>
<a name="js"></a>
<h3 data-magellan-destination="js">Destination</h3>
<p>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, consequatur, omnis. Suscipit ab autem unde, exercitationem a. Fuga est voluptatum aliquam! Possimus architecto ut corporis illo? Porro, repellat facere ratione.</span>
	<span>Officiis doloribus dolores repellendus aliquid nobis illum consequuntur autem et vero dolorum, totam deserunt earum ratione iste adipisci accusamus molestias, ipsam, maxime magni. Facilis id, corrupti autem delectus aut temporibus?</span>
	<span>Rem officia in culpa tempore ex recusandae cum saepe, eum, fugit vero. Aspernatur debitis quo, mollitia deserunt quod accusantium, nihil qui, odit laboriosam possimus ipsa sint ullam dolor deleniti in.</span>
	<span>Ipsum rerum molestiae aspernatur veniam nostrum itaque tenetur! Id nam provident sapiente ex aliquid aliquam tempore temporibus dolorum beatae doloribus odio ut animi minus laboriosam dignissimos repellendus, excepturi, sequi molestias.</span>
	<span>Cupiditate eligendi ab consectetur expedita cum adipisci quia veritatis. Consequatur consequuntur dolorem veritatis animi sint architecto repellat officiis tenetur vero aliquam, voluptatum aspernatur libero recusandae odit dignissimos, rem beatae quia.</span>
</p>