<h1>AMT</h1>
<%= link_to("Cursos", courses_path, :class => "button radius") %>
<%= link_to("Registrarse", new_user_registration_path, :class => "button radius") %>
<%= link_to("Log in", new_user_session_path, :class => "button radius") %>

