<nav class="icon-bar large-vertical five-up large-1 columns" role="navigation">
  <a class="item">
    <i class="fi-home"></i>
    <label>Dashboard</label>
  </a>
  <a class="item">
    <i class="fi-graph-pie"></i>
    <label>Resumen</label>
  </a>
  <a class="item">
    <i class="fi-info"></i>
    <label>Info</label>
  </a>
  <a class="item">
    <i class="fi-wrench"></i>
    <label>Herramientas</label>
  </a>
  <a class="item">
    <i class="fi-list-bullet"></i>
    <label>Tarea</label>
  </a>

</nav>

