<div class="off-canvas-wrap" data-offcanvas>

  <!-- If the contents of the .inner-wrap isn't the main content of the page, use another approripate sectioning element instead -->
  <div class="inner-wrap">
  	<a class="exit-off-canvas"></a>
	
  	<nav class="tab-bar">
	  <div class="middle tab-bar-section"><%= link_to("AMT", root_path) %></div>
	  <section class="right-small">
	  	<i class="right-off-canvas-toggle fi-torso"></i>
	  </section>
	</nav>
	
  	<nav class="right-off-canvas-menu">
  		<ul class="off-canvas-list">
  			<li><label for="">Usuario</label></li>
  			<li><a href="#">Perfil</a></li>
  			<li><a href="#">Mis cursos</a></li>
  			<li><label for="">Estadísticas</label></li>
	  		<li><a href="#">Item 1</a></li>
  		</ul>
  	</nav>

	<%= render "left_nav_bar" %>
	
	<%= render "courses" %>
	
  </div>
 
</div>